<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>524020351983-c1c3snf9dgnqk6gs5gi8h5ulnqpelvvh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.524020351983-c1c3snf9dgnqk6gs5gi8h5ulnqpelvvh</string>
	<key>API_KEY</key>
	<string>AIzaSyC6yqDI7K7UiyzZxm1HmV3VCjWWMPxGX58</string>
	<key>GCM_SENDER_ID</key>
	<string>524020351983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-a9a9b</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-a9a9b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:524020351983:ios:92d9300e40bac8925cac1a</string>
</dict>
</plist>